<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Search Engine -->
    <meta name="author" content="MasihTak" />
    <meta name="description" content="IP Address Lookup by MasihTak with privacy in mind.">
    <meta name="image" content="<%= BASE_URL %>screenshot.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="IP Address Lookup">
    <meta itemprop="description" content="IP Address Lookup by MasihTak">
    <meta itemprop="image" content="<%= BASE_URL %>screenshot.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="IP Address Lookup">
    <meta property="og:description" content="IP Address Lookup by MasihTak with privacy in mind.">
    <meta property="og:url" content="http://ip-address-lookup.vercel.app/">
    <meta property="og:site_name" content="IP Address Lookup">
    <meta name="image" property="og:image" content="<%= BASE_URL %>screenshot.jpg">
    <meta property="og:type" content="website">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha256-djO3wMl9GeaC/u6K+ic4Uj/LKhRUSlUFcsruzS7v5ms=" crossorigin="anonymous">
      <script type="text/javascript">
          window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
          heap.load("652718678");
      </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
