<template>
  <section id="header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <h1 class="mt-4">IP Address Lookup</h1>
          <p class="mb-4 lead">By <a class="text-white" href="https://www.linkedin.com/in/masih-abjadi/">MasihTak</a></p>
          <base-search-bar v-model="queryIP" @ip-lookup="getIpInfo"></base-search-bar>
        </div>
      </div> <!-- /row -->
      <!-- Result -->
      <IPInfo v-if="ipInfo" :ipInfo="ipInfo"/>
    </div> <!-- /container -->
  </section>

  <!-- Map -->
  <section id="map"></section>

</template>

<script>
// @ is an alias to /src
import BaseSearchBar from "@/components/BaseSearchBar";
import IPInfo from "@/components/IPInfo";
import leaflet from 'leaflet';
import '@module/leaflet/dist/leaflet.css';
import axios from 'axios';
import {onMounted, ref} from "vue";

export default {
  name: 'Home',
  components: {
    BaseSearchBar,
    IPInfo
  },
  setup() {
    let map;
    const queryIP = ref('')
    const ipInfo = ref(null)
    // fix stupid icon display issue!
    delete leaflet.Icon.Default.prototype._getIconUrl;
    leaflet.Icon.Default.mergeOptions({
      iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
      iconUrl: require('leaflet/dist/images/marker-icon.png'),
      shadowUrl: require('leaflet/dist/images/marker-shadow.png')
    });

    onMounted(() => {
      map = leaflet.map('map').setView([51.505, -0.09], 12);
      leaflet.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=${process.env.VUE_APP_MAP_TOKEN}`, {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        tilesLoaded: true,
        accessToken: process.env.VUE_APP_MAP_TOKEN
      }).addTo(map);
    })

    const getIpInfo = async () => {
      try {
        const data = await axios.get(`https://api.ipgeolocation.io/ipgeo?apiKey=${process.env.VUE_APP_IP_TOKEM}&ip=${queryIP.value}`);
        const result = data.data;
        ipInfo.value = {
          ip: result.ip,
          location: result.country_name,
          isp: result.isp,
          lat: result.latitude,
          lng: result.longitude
        }
        // Add a marker inside the map
        leaflet.marker([ipInfo.value.lat, ipInfo.value.lng]).addTo(map)
        map.setView([ipInfo.value.lat, ipInfo.value.lng], 13)
      } catch (err) {
        alert(err.message)
      }
    }

    return {queryIP, ipInfo, getIpInfo}
  }
}
</script>

<style scoped>
#header {
  background: url("../assets/abstract-bg.jpg") no-repeat center/cover;
  color: white;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: overlay;
  position: relative;
}
#map {
  z-index: 10;
  height: calc(100% - 250px);
}
</style>
