<template>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="8.8.8.8" aria-label="IP Address" aria-describedby="lookup" :value="modelValue" @input="$emit('update:modelValue', $event.target.value)">

    <button class="btn btn-outline-secondary" type="button" id="lookup" aria-label="lookup" @click="ipLookup">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path
            d="M5.671 4.257L13.414 12 12 13.414 8.554 9.968a4 4 0 1 0 3.697-1.96l-1.805-1.805a6 6 0 1 1-3.337 2.32L5.68 7.094a8 8 0 1 0 3.196-2.461L7.374 3.132A9.957 9.957 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12a9.98 9.98 0 0 1 3.671-7.743z"/>
      </svg>
    </button>

  </div>
</template>

<script>
export default {
  name: "BaseSearchBar",
  emits: ['ip-lookup', 'update:modelValue'],
  props: {
    modelValue: {
      default: '',
    }
  },
  methods: {
    ipLookup() {
      this.$emit('ip-lookup');
    }
  }
}
</script>

<style scoped>

input, button {
  border: none;
}

input:focus, button:focus {
  outline: none;
  box-shadow: none;
}

input {
  transition: .3s box-shadow ease-in;
}
input:focus {
  box-shadow: 0 11px 20px rgb(81 203 238);
}

#lookup {
  background-color: #040a63;
  fill: white;
}

svg {
  transition: .2s transform ease-in-out;
}

#lookup:hover svg {
  transform: rotate(60deg);
}
</style>
