<template>
  <div class="card justify-content-center mx-auto">
    <div class="row">
      <div class="col-4 br">
        <p class="text-uppercase">IP Address:</p>
        <span class="fw-bold">{{ ipInfo.ip }}</span>
      </div>
      <div class="col-4 br">
        <p class="text-uppercase">Location:</p>
        <span class="fw-bold">{{ ipInfo.location }}</span>
      </div>
      <div class="col-4">
        <p class="text-uppercase">ISP:</p>
        <span class="fw-bold">{{ ipInfo.isp }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IPInfo",
  props: ['ipInfo']
}
</script>

<style scoped>
.card {
  border: none;
  color: black;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  top: 20px;
  min-height: 100px;
  max-width: 800px;
  z-index: 20;
}


@media only screen and (min-width: 768px) {
  .br {
    position: relative;
  }
  .br:after {
    content: '';
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(143 18 134) 50%, rgba(255,255,255,1) 100%);
    width: 1px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

</style>
