<template>
  <router-view/>
</template>

<style lang="scss">
@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: url("assets/Segoe UI.woff") format("woff");
}

#app {
  font-family: 'Segoe UI Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}
</style>
